/* You can add global styles to this file, and also import other style files */
@use 'sass:math'; // Import the math module

@function to-rem($px) {
  @return math.div($px, 16px) * 1rem; // Directly return the value in rem
}

.flex {
  flex: 1 1 0;
}

.flexFill {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}
